
.quizPage{
  display:none;
}
.yourInfo{
  margin-top: 3%;
  display: none;
}


.geography{
  margin-top: 2%;
}
.dropDowns{
  margin-top: 3%;
}

.geography{
  margin-top: 3%;

}

body{
  background: url('http://tiffzhang.com/startup/img/bg/11.jpg') center fixed;
}

.quizPage{
  background-color: grey;
  margin-top: 5%;
  border: 2px dashed rgb(26, 60, 154);
  box-shadow: 10px 10px 10px rgb(26, 60, 154);
}
.quizPage h2{
  text-align: center;
}
.activities{
  margin-top: 10%;
}

.pickSize, .pickClimate{
  display:inline-block;

}

.pickClimate{
  margin-left: 2%;
}

.pickFood, .pickShop, .pickSports{
  display:inline-block;
  margin-left: 2%;
}

.submit{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  margin-left: 30%;
}

.what{
  display:none;
  margin-top: 10%;
}
.selectAnswer{
  display: none;
  margin-top: 5%;
}
.next{
  display:none;
  margin-top: 5%;
}

/* ///   Landing Page   ///*/

.landingPage {
  font-size: 24px;
  font-family: Impact, Tahoma;
  box-sizing: border-box;
  text-align: center;
}

.siteWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url('http://tiffzhang.com/startup/img/bg/11.jpg') center fixed;
  background-size: cover;

}

.navbar {
  background-color: rgb(26, 60, 154);
}

.navbar .innner a {
  text-decoration: none;
  color: white;
}

#logo {
  color: white;
  letter-spacing: 1.4px;
  font-size: 3rem;
  font-family: Tahoma;
  padding-left: 1%;
}

.homeHeader {
  font-size: 8rem;
  font-family: bold;
  color: white;
}

#homeText p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  font-family: Tahoma;
}

.results{
  display:none;
  background-color: grey;
  border-radius: 40%;
  width: 60%;
  margin: auto;
  text-align: center;
  height: 300px;
  margin-top: 15%;
  padding-top: 5%;

}

#homeText p a {
  background-color: rgb(26, 60, 154);
  color: white;
  font-family: tahoma;

}

  /*///  Results Page   ///*/
ul li{
    text-decoration: none;


}


  .active {
    display: block;

  }

  .hide {
    display: none;
  }
