
.quizPage{
  display:none;
}

.yourInfo{
  margin-top: 3%;
  display: none;
  text-align: center;
}

.geography{
  margin-top: 2%;
}
.dropDowns{
  margin-top: 3%;
}

.geography{
  margin-top: 3%;

}

.quizPage{
  background-color: #A9DBFF;
  margin-top: 125px;
  border: 2px solid #8588FF;
  box-shadow: 1px 5px 22px 6px #003F6B;
}
.quizPage h1{
  text-align: center;
}

.pickSize, .pickClimate{
  display:inline-block;

}

.pickClimate{
  margin-left: 2%;
}

.pickFood, .pickShop, .pickSports{
  display:inline-block;
  margin-left: 2%;
}

.submit{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
}

.what{
  display:none;
  margin-top: 40px;
}
.selectAnswer{
  display: none;
  margin-top: 5%;
}

.Option{
  margin: 5px;
  font-size: 1.25em;
}

.next{
  display:none;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

/* ///   Landing Page   ///*/

.landingPage {
  font-size: 24px;
  font-family: 'Yellowtail', cursive;
  box-sizing: border-box;
  text-align: center;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('http://img.mi9.com/landscape/5005/beautiful-bridges-wallpaper-free-cooper-river-bridge_2560x1600_93607.jpg') no-repeat;
  background-size: cover;
}

.siteWrapper {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.navbar {
  background-color: #109CFF;
  text-align: center;
}

.innner a {
  text-decoration: none;
  color: white;
}

.inner a:hover{
  text-decoration: none;
}

#logo {
  color: white;
  letter-spacing: 1.4px;
  font-size: 10rem;
  font-family: 'Yellowtail', cursive;
  padding-left: 1%;
}

.homeHeader {
  font-size: 8rem;
  font-family: sans-serif;
  color: white;
}

#homeText{
  margin-top:350px;
}

#homeText p {
  font-size: 5rem;
  font-weight: 500;
  color: white;
  font-family: 'Yellowtail', cursive;
}

#beginButton{
  background-color: #109CFF;
  color: white;
  font-family: 'Yellowtail', cursive;
  font-size: 4rem;
  border-color: #A9DBFF;
}

#beginButton:hover{
  text-decoration: none;
  border-color: #A9DBFF;
}

.findMatch{
  text-align: center;
}

.results{
  display:none;
  background-color: #A9DBFF;
  margin: auto;
  text-align: center;
  margin-top: 125px;
  padding: 15px;
  height: 525px;
  width: 1050px;
  border: 2px solid #8588FF;
  box-shadow: 1px 5px 22px 6px #003F6B;
}

  /*///  Results Page   ///*/
li{
    text-decoration: none;
}

#mapCanvas{
  width: 1000px;
  height: 500px;
  margin: auto;
}

h2{
  display: inline-flex;
  justify-content: space-between;
  padding: 5px;

}

/* RESULTS IMAGE */
.col-md-7{
  overflow: hidden;
}
.col-md-7 img{
  width: 100%;
}

/* RESULTS TEXT */
.col-md-5{

}
.col-md-5 ul li{
  text-decoration: none;
}


.resultHeader{
  margin-top: 30px;
}

.resultsContent{
  display: flex;
  padding: 35px;
  background-color: lightsalmon;
  border: 2px solid #DD764D;
  box-shadow: 1px 5px 22px 6px #003F6B;
}

.topThree .resultsContent{
  margin-bottom: 50px;
}

.active {
  display: block;
}

.hide {
  display: none;
}
